fluxx.d.calebj.io {
    gzip {
        not /socket.io
    }
    cors
    header / {
        Access-Control-Allow-Origin http://localhost:3000
    }
    proxy /api cgi:5000 {
        websocket
        transparent
        without /api
    }
    proxy /socket.io cgi:5000 {
        websocket
        #transparent
    }
    proxy / node:3000 {
        transparent
        except /static
    }
}
